<%- include('../partials/header.ejs') %>

<div class="container-sm w-50 p-3">
  <div class="card">
    <div class="card-body">
      <h3>Reset Password</h3>
      <h4>Hello <%- username %></h4>
      <a href="<%- url %> ">
        <button class="btn btn-primary">Reset Password</button>
      </a>
    </div>
  </div>
</div>

<%- include('../partials/js.ejs') %>
