<%- include('../partials/header.ejs') %>

<div class="container-sm w-50 p-3">
  <div class="card">
    <div class="card-body">
      <form action="<%- url %>" method="post">
        <div class="mb-3">
          <label for="newPassword" class="form-label">New Password</label>
          <input
            type="password"
            class="form-control"
            id="newPassword"
            name="newPassword"
          />
        </div>
        <div class="mb-3">
          <label for="newPassword" class="form-label"
            >Confirm New Password</label
          >
          <input
            type="password"
            class="form-control"
            id="confirmNewPass"
            name="confirmNewPass"
          />
        </div>
        <button type="submit">change password</button>
      </form>
    </div>
  </div>
</div>

<%- include('../partials/js.ejs') %>
